@charset "utf-8";
/* CSS Document */

/* PRODUCTOS */
#botonproductosactivo {
	height: 38px;
	width: 162px;
	margin-left: 17px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-image:url(imagenes/botonproductoshover.png);
}
#botonproductosabajoactivo {
	height: 38px;
	width: 162px;
	margin-left: 17px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-image:url(imagenes/botonproductosabajohover.png);
}

/* FERIAS Y EVENTOS */
#botonferiasactivo {
	height: 41px;
	width: 162px;
	margin-left: 17px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-image:url(imagenes/botonferiahover.png);
	margin-top:10px;
}
#botonformacionactivo {
	height: 38px;
	width: 163px;
	margin-left: 16px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-image:url(imagenes/botonfornacionhover.png);
}
#botonexpositoresactivo {
	height: 41px;
	width: 162px;
	margin-left: 17px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-image:url(imagenes/botonexpositoreshover.png);
}
/* BROCAS Y CORONAS GENERAL*/

#titulogeneralbrocas{
	width:767px;
	height:30px;
	margin-top:54px;
	margin-left:32px;
}
.titulogeneral{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:33px;
	color:#FFFFFF;
}
.texto1general{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:12.5px;
	color:#FFFFFF;
	margin-top:37px;
	margin-left:32px;
}
.texto2general{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:12.5px;
	color:#FFFFFF;
	margin-top:22px;
	margin-left:32px;
	font-weight:bold;
}
#textoimagenbroca{
	float:left;
	text-align:center;
	width:230px;
	display:block;
}
#textoimagenbroca1{
	float:left;
	text-align:center;
	width:215px;
	display:block;
}
#textoimagen{
	float:left;
	text-align:center;
	width:196px;
	display:block;
}
#textoimagen1{
	float:left;
	text-align:center;
	width:292px;
	display:block;
}
#textoimagen2{
	float:left;
	text-align:center;
	width:205px;
	display:block;
}

.textoimagen{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:12.5px;
	color:#FFFFFF;
	font-weight:bold;
}

#imagenesgeneralbrocas{
	width:732px;
	margin-top:35px;
	margin-left:32px;
	height:209;
}
.imagenesgeneralbrocas{
	margin-left:50px;
}
.imagenengarantia{
	margin-top:20px;
	position:absolute;
	margin-left:647px;
}
.imagenmarca{
	position:absolute;
	right:140px;
	margin-top:20px;
}
.imagenmarca1{
	position:absolute;
	margin-top:20px;
	right:30px;

}

/* BROCAS */
#titulobrocas{
	width:767px;
	height:30px;
	margin-top:21px;
	margin-left:32px;
}
.titulobrocas{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:21px;
	font-weight:bold;
	margin-bottom:18px;
}
.textobrocas{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:12.5px;
	color:#FFFFFF;
}
#frameizquierdabrocas{
	width:318px;
	height:390px;
	margin-top:20px;
	float:left;
	position:relative;
	display:block;
}
#frameizquierdabrocasimagen{
	margin-top:25px;
	width:318px;
	height:210px;
	float:left;
	display:block;
	position:absolute;
	padding-left:36px;
}
#frameizquierdabrocasvideo{	
	width:18px;
	height:57px;
	float:left;
	margin-top:15px;
	position:absolute;
	left:249px;
	top:10px;	
}
#frameizquierdabrocaskits{	
	width:18px;
	height:57px;
	float:left;
	margin-top:80px;
	position:absolute;
	left:249px;
	bottom:35px;
}
#tablabrocas{
	width:250px;
	height:111px;
	background-image:url(imagenes/fondotabla.png);
	background-repeat:no-repeat;
	margin-top:20px;
	color:#FFFFFF;
}
.titulotablabrocas{
	text-align:center;
	font-weight:bold;
	font-size:17px;
}
.textotablabrocas{
	font-weight:200;
	font-size:10px;
	margin-left:5px;
}
#framederechabrocas{
	width:420px;
	height:380px;
	margin-top:40px;
	float:left;
	position:relative;
	color:#FFFFFF;
	font-size:12px;
	text-align:justify;
}
.titulocontenido{
	font-weight:bold;
	margin-bottom:15px;
}
.titulocontenido1{
	font-weight:bold;
	margin-bottom:15px;
	margin-top:10px;
}
.videokits{
	margin-left:130px;
	margin-top:15px;
	}
#framecorona1{	
	width:181px;
	height:163px;
	float:right;
	margin-top:-5px;
	position:absolute;
	left:240px;
	top:10px;	
}
#coronaadaptador{
	height:112px;
	float:left;
	margin-top:25px;
}
#coronaadaptador1{
	height:112px;
	margin-left:285px;
	margin-top:25px;
}
.textoadaptadores{
	font-size:14px;
	margin-left:-15px;
	position:absolute;
}
.textoadaptadoresguia{
	font-size:14px;
	margin-left:-15px;
	position:absolute;
	margin-left:35px;
}

/* KITS */
#tablakitduodry{
	width:389px;
	height:109px;
	float:left;
	margin-top:5px;
	margin-left:25px;
	margin-bottom:10px;
}
#tablakitmaxi{
	width:384px;
	height:144px;
	float:left;
	margin-top:5px;
	margin-left:25px;
	margin-bottom:10px;
}
#kit2{
	width:210px;
	float:left;
	display:block;
	margin-top:5px;
	text-align: left;
	font-size:8px;
}
#imagencircular{
	position:absolute;
	left:142px;
	top:182px;
}
.textokit{
	font-size:10px;
	margin-left:25px;
}
.textokitnegrita{
	font-size:12px;
	margin-left:25px;
	margin-top:10px;
	font-weight:bold
}
.solucioncompletacentrado{
	text-align:center;
	font-size:11px;
	font-weight:bold;
}

/* QUIENES SOMOS */
#frameizquierdaquienes{
	width:318px;
	height:390px;
	margin-top:20px;
	float:left;
	position:relative;
	display:block;
	margin-left:30px;
	color:#FFFFFF;
	font-size:11px;
}
#framederechaquienes{
	width:340px;
	height:380px;
	margin-top:20px;
	margin-left:40px;
	float:left;
	position:relative;
	color:#FFFFFF;
	font-size:11px;
	text-align:justify;
}
.textoquienes{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	padding-bottom:10px;
	text-align: justify;
}
.subapartadosquienes{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	text-align: justify;
	font-weight:bold;
	margin-top:5px;
}
.listaquienes{
	margin-left:20px;
}
.mapa{
	margin-top:30px;
	margin-left:100px;
}
/* CONTACTA */

.textocontacta{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:12.5px;
	color:#FFFFFF;
	padding-bottom:10px;
	vertical-align:middle;
}
#frameizquierdacontacta{
	width:318px;
	height:390px;
	margin-top:20px;
	float:left;
	position:relative;
	display:block;
	margin-left:30px;
}
#framederechacontacta{
	width:340px;
	height:380px;
	margin-top:20px;
	margin-left:40px;
	float:left;
	position:relative;
	color:#FFFFFF;
	font-size:11px;
	text-align:justify;
}
/* FORMACION */
.textoformacion{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFFFFF;
	padding-bottom:10px;
	text-align: justify;
	margin-top:45px;
	margin-left:32px;
	margin-right:32px;
	margin-bottom:30px;
}
.imagenformacion{
	padding-bottom:0px;
	margin-left:32px;
}

/* EXPOSITORES */
#tituloexpositores{
	width:767px;
	height:30px;
	margin-top:21px;
	margin-left:32px;
}
.tituloexpositores{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size:21px;
	font-weight:bold;
	margin-bottom:13px;
}
.textoexpositores{
	font-family:Century Gothic, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#FFFFFF;
}
#imagenexpositores{
	margin-top:40px;
	margin-left:35px;
	}
/* CATÁLOGO */
#botoncatalogoactivo {
	height: 60px;
	width: 162px;
	margin-top:10px;
	margin-left: 17px;
	color:#FFFFFF;
	clear:both;
	float:left;
	display:block;
	background-repeat:no-repeat;
	background-image:url(imagenes/fondotextocatalogohover.png);
}


