/* 
	Resets defualt browser settings
	reset.css
*/

/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }

a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }
*/


/*
	Page style
*/
/* body { 
	font:normal 62.5%/1.5 Helvetica, Arial, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(img/background.png) repeat top center;
	padding:20px 0;
	position:relative;
	text-shadow:0 1px 0 rgba(255,255,255,.8);
	-webkit-font-smoothing: subpixel-antialiased;
}
*/

#container {
	width:580px;
	padding:10px;
	margin:0 auto;
	position:abso;
	z-index:0;
	position:relative;
}

#example {
	width:768px;
	height:471px;
	position:absolute;
	float:left;
}

#ribbon {
	position:absolute;
	top:-3px;
	left:-15px;
	z-index:500;
}

#frame {
	position:absolute;
	z-index:200;
	width:960px;
	height:456px;
	top:0px;
	left:-92px;
}

/*
	Slideshow
*/

#slides {
	position:absolute;
	left:0px;
	z-index:100;
	width:768px;
	height:471px;
	float:left;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:768px;
	height::471px;
	overflow:hidden;
	position:absolute;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container div.slide {
	width:754px;
	height:471px;
	display:block;
	position:absolute;
}


/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:185px;
	left:3px;
	width:24px;
	height:43px;
	display:block;
	z-index:200;
}

#slides .next {
	left:741px;
	z-index:200px;
}

/*
	Pagination
*/

.pagination {
	width:25px;
	z-index:600;
	margin:0,auto,0,0;
	margin-top:0px;
	position:absolute;
	right:25px;
	top:10px;
	float:right;
	}

.pagination li {
	margin:0 1px;
	list-style:none;
	}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url("Content/imagenes/pagination.png");
	background-position:0 0;
	float:left;
	overflow:hidden;
	}

.pagination li.current a {
	background-position:0 -12px;
	}

/*
	Caption
*/

.caption {
	z-index:500;
	position:absolute;
	margin-left:10;
	height:30px;
	background:#000;
	background:rgba(0,0,0,.5);
	opacity:.5;
	filter:alpha(opacity=50);
	width:754px;
	font-size:1.3em;
	line-height:0.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
	padding-bottom:10px;
	padding-left:10px;	
}

/*
	Footer
*/

#footer {
	text-align:center;
	width:964px;
	margin-top:-1px;
	padding:4.5px 0 0px;
	border-top:1px solid #dfdfdf;
	position:relative;
	font-size:0.8em;
}

#footer p {
	margin:4.5px 0;
	font-size:1.0em;
}

/*
	Anchors
*/

a:link,a:visited {
	color:#599100;
	text-decoration:none;
}

a:hover,a:active {
	color:#599100;
	text-decoration:underline;
}

/* Localized */